#
# command alias settings
#

alias l='ls'
alias ls='ls --group-directories-first --color=always'
alias la='ls -alF'
alias ll='ls -lF'
alias rm='rm -i'
alias reload='exec $SHELL -l'

if [ -x "`which aptitude`" ]; then
  alias install="sudo aptitude install"
  alias remove="sudo aptitude remove"
  alias search="aptitude search"
fi

#
# vim: ft=zsh
#
